.auto-style1 {
    z-index: 1;
    left: 423px;
    top: 365px;
    position: absolute;
    height: 110px;
    width: 345px;
}

.auto-style2 {
    z-index: 1;
    left: 800px;
    top: 363px;
    position: absolute;
    height: 111px;
    width: 345px;
}

.auto-style5 {
    z-index: 1;
    left: 55px;
    top: 220px;
    position: absolute;
    height: 107px;
    width: 345px;
}

.auto-style6 {
    z-index: 1;
    left: 50px;
    top: 366px;
    position: absolute;
    height: 110px;
    width: 345px;
    bottom: 222px;
}

.auto-style7 {
    z-index: 1;
    left: 421px;
    top: 534px;
    position: absolute;
    width: 410px;
    height: 158px;
}

.auto-style8 {
    z-index: 1;
    left: 889px;
    top: 582px;
    position: absolute;
    width: 123px;
}

.auto-style9 {
    position: absolute;
    top: 630px;
    left: 28px;
    z-index: 1;
}

.auto-style10 {
    z-index: 1;
    left: 31px;
    top: 596px;
    position: absolute;
}
.auto-style11 {
    z-index: 1;
    left: 10px;
    top: 284px;
    position: absolute;
    height: 107px;
    width: 345px;
}

.auto-style12 {
    z-index: 1;
    left: 10px;
    top: 412px;
    position: absolute;
    height: 110px;
    width: 345px;
    bottom: 281px;
}

.auto-style13 {
    z-index: 1;
    left: 404px;
    top: 412px;
    position: absolute;
    height: 110px;
    width: 345px;
}

.auto-style14 {
    z-index: 1;
    left: 800px;
    top: 412px;
    position: absolute;
    height: 111px;
    width: 345px;
}

.auto-style15 {
    z-index: 1;
    left: 404px;
    top: 725px;
    position: absolute;
    width: 731px;
    height: 59px;
}

.auto-style16 {
    width: 217px;
}

.auto-style17 {
    width: 607px;
}

.auto-style18 {
    z-index: 1;
    left: 15px;
    top: 628px;
    position: absolute;
}

.auto-style19 {
    position: absolute;
    top: 708px;
    left: 16px;
    z-index: 1;
}

.auto-style20 {
    width: 1137px;
    height: 22px;
    position: absolute;
    top: 538px;
    left: 10px;
    z-index: 1;
}
.auto-style22 {
    position: absolute;
    top: 340px;
    left: 1px;
    z-index: 1;
    width: 161px;
}

.auto-style23 {
    width: 913px;
    height: 409px;
    position: absolute;
    top: 321px;
    left: 16px;
    z-index: 1;
}

.auto-style24 {
    width: 1190px;
    height: 456px;
    position: absolute;
    top: 317px;
    left: 14px;
    z-index: 1;
}

.auto-style25 {
    z-index: 1;
    left: 0px;
    top: 9px;
    position: absolute;
    height: 107px;
    width: 345px;
}

.auto-style26 {
    z-index: 1;
    left: -1px;
    top: 137px;
    position: absolute;
    height: 110px;
    width: 345px;
    bottom: 209px;
}

.auto-style27 {
    z-index: 1;
    left: 400px;
    top: 137px;
    position: absolute;
    height: 110px;
    width: 345px;
}

.auto-style28 {
    z-index: 1;
    left: 786px;
    top: 137px;
    position: absolute;
    height: 111px;
    width: 402px;
}

.auto-style29 {
    width: 1137px;
    height: 22px;
    position: absolute;
    top: 270px;
    left: 1px;
    z-index: 1;
}

.auto-style30 {
    z-index: 1;
    left: 2px;
    top: 377px;
    position: absolute;
    width: 161px;
    height: 48px;
}

.auto-style32 {
    position: absolute;
    top: 342px;
    left: 276px;
    z-index: 1;
}

.auto-style33 {
    width: 1349px;
    height: 221px;
}

.auto-style34 {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: 903px;
    height: 330px;
}

.auto-style35 {
    position: absolute;
    top: 343px;
    left: 548px;
    z-index: 1;
    width: 147px;
}