body {
}
body {
    background-color: #bbbb88;
}

.auto-style3 {
    height: 33px;
}

.auto-style4 {
    width: 579px;
}

.auto-style5 {
    width: 62%;
}

.auto-style6 {
    width: 243px;
}

</style >